<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.text_area :name, class:"form-control", placeholder:"Name"%>
  </div><br>

  <div class="field form-group">
    <%= form.text_field :annual_salary, class:"form-control", placeholder:"Annual Salary" %>
  </div><br>

  <div class="field form-group">
    <%= form.text_field :monthly_income_tax, class:"form-control", placeholder:"Monthly Income Tax" %>
  </div><br>

  <div class="field form-group">
    <%#= form.number_field :user_id, id: :employee_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div><br>
  

  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
